<!-- JUMBOTRON/HEADER -->
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Technical.ly Job Scraper</h1>
    </div>
    <br>
    <h4>The latest Philadelphia tech jobs</h4>
</div>

<div class="container">

    {{!-- NEED SCRAPE BUTTON AND SAVE BUTTON --}}
    <div class="row"><br>
        <span><button class="btn btn-outline-info" id="scrape-jobs">Scrape</button>

            <a class="btn btn-outline-info" href="/saved">My Saved Jobs</a>
            <a class="btn btn-outline-info" href="/">Back to Job Listings</a>

        </span>
    </div>
    <br><br>

    <div class="row">
        <div class="col-sm-12">

            <h4>NEW JOBS:</h4>
            {{#each jobs}}
            <hr>
            <h5>{{title}}</h5>
            <p>Full job posting: <a href="{{link}}">{{link}}</a></p>
            <img class="img-fluid" src="{{logoLink}}" alt="Company Logo">

            <button db-id="{{_id}}" class="save-unsave"
                saved="{{#if saved}}true{{else}}false{{/if}}">{{#if saved}}Remove From Saved List{{else}}Save
                Job{{/if}}</button>
            {{/each}}

        </div>
    </div>


    {{!-- <div class="card-deck">
        {{#each jobs}}
        <div class="card">
            <img class="card-img-top" src="{{logoLink}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">Full job posting: <a href="{{link}}">{{link}}</a></p>
                <button db-id="{{_id}}" class="save-unsave"
                    saved="{{#if saved}}true{{else}}false{{/if}}">{{#if saved}}Remove From Saved List{{else}}Save
                    Job{{/if}}</button>
            </div>
        </div>
        {{/each}}
    </div>
</div> --}}



{{!-- CARD OPTION --}}
{{!-- 
{{#each jobs}}
<div class="row text-center">
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="{{logoLink}}" alt="">
            <div class="card-body">
                <h4 class="card-title">{{title}}</h4>
                <p class="card-text">Full job posting: <a href="{{link}}">{{link}}</a></p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Add to my saved jobs</a>
            </div>
        </div>
    </div>
</div>
{{/each}} --}}